<template>
    <div class="columns is-gapless is-marginless">
        <div class="column is-narrow">
            <sidebar></sidebar>
        </div>
        <div class="column">
            <maincontent></maincontent>
        </div>
    </div>
</template>

<script>
import Sidebar from './Sidebar';
import Maincontent from './Maincontent';

export default {
    components: { Sidebar, Maincontent }
}
</script>