<template>
    <div class="maincontent">
        <div class="sections">
            <component 
                v-for="section in sectionsToDisplay" 
                :section="section" 
                :is="getSectionType(section)"
            ></component>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import sections from '../components/sections'

export default {
    components: sections,

    methods: {
        getSectionType: ({type}) => `section-${type}`,
    },

    computed: mapGetters(['sectionsToDisplay'])
}
</script>