<template>
    <div class="sidebar">

        <p class="control is-expanded has-icon has-icon-right">
            <input 
                type="text" 
                class="input is-medium" 
                placeholder="Search..." 
                v-model="query_string" 
                @keyup.enter="search"
            >
            <span class="icon is-medium">
                <i class="fa fa-search"></i>
            </span>
        </p>

        <p class="label">Date interval</p>
        <p class="control has-addons">
            <a class="button is-expanded" :class="isSelected('today')" @click="date_option = 'today'; search()">
                <span>Today</span>
            </a>
            <a class="button is-expanded" :class="isSelected('week')" @click="date_option = 'week'; search()">
                <span>Last week</span>
            </a>
            <a class="button is-expanded" :class="isSelected('custom')" @click="date_option = 'custom'">
                <span>Custom</span>
            </a>
        </p>

        <p class="control is-expanded" v-if="date_option == 'custom'">
            <Flatpickr 
                class="input" 
                placeholder="From the beginning..."
                v-model="date_from" 
                :options="flatpickrOptions"
            />
        </p>
        <p class="control is-expanded" v-if="date_option == 'custom'">
            <Flatpickr 
                class="input" 
                placeholder="...until now"
                v-model="date_to" 
                :options="flatpickrOptions"
            />
        </p>

        <p class="label">Type of research</p>
        <p class="control">
            <span class="select is-fullwidth">
                <select v-model="type" @change="search">
                    <option value=''>Automatic</option>
                    <option 
                        v-for="type in availableTypes"
                        v-text="type"
                        :value="type"
                    ></option>
                </select>
            </span>
        </p>

        <button class="button-bottom" @click="showModal = true">
            <span class="icon">
                <i :class="'fa fa-' + factory_object.icon"></i>
            </span>
            <br>
            {{ factory_object.name }}
        </button>

        <div class="modal" :class="{ 'is-active': showModal }">
            <div class="modal-background" @click="showModal = false"></div>
            <div class="modal-content">
                <aside class="menu box">
                    <p class="menu-label">
                        Choose a component factory
                    </p>
                    <ul class="menu-list">
                        <li v-for="f in factories">
                            <a @click="updateFactory(f.value)">
                                <span class="icon">
                                    <i :class="'fa fa-' + f.icon"></i>
                                </span>
                                &nbsp;{{ f.name }}
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>
            <button class="modal-close" @click="showModal = false"></button>
        </div>
    </div>
</template>

<script>
import factories from '../assets/factories'
import api from '../api'
import { findIndex } from 'lodash'

export default {
    data() {
        return {
            showModal: false,
            availableTypes:[],
            factories,
            flatpickrOptions: {
                enableTime: true,
                altInput: true,
                maxDate: new Date(),
                onValueUpdate: null,
                onChange: function() { this.search() }.bind(this)
            }
        }
    },

    mounted() {
        api.getAvailableTypes().then(function ({data}) {
            this.availableTypes = data
        }.bind(this))
    },

    methods: {
        search() {
            this.$store.dispatch('search')
        },

        isSelected(keyword) {
            return { 'is-primary': this.date_option == keyword }
        },

        updateFactory(factoryValue) {
            this.factory = factoryValue
            this.showModal = false
        }
    },

    computed: {
        query_string: {
            get () { return this.$store.state.query.query_string },
            set (value) { this.$store.commit('updateQueryString', value) }
        },

        date_option: {
            get () { return this.$store.state.query.date_option },
            set (value) { this.$store.commit('updateDateOption', value) }
        },

        date_from: {
            get () { return this.$store.state.query.date_from },
            set (value) { this.$store.commit('updateDateFrom', value) }
        },

        date_to: {
            get () { return this.$store.state.query.date_to },
            set (value) { this.$store.commit('updateDateTo', value) }
        },

        type: {
            get () { return this.$store.state.query.type },
            set (value) { this.$store.commit('updateType', value) }
        },

        factory: {
            get () { return this.$store.state.query.factory },
            set (value) { this.$store.commit('updateFactory', value) }
        },

        factory_object() {
            const factoryIndex = findIndex(this.factories, ['value', this.factory])
            return this.factories[factoryIndex]
        }
    },

    watch: {
        factory: function (newFactory) {
            this.search()
        }
    }
}
</script>

<style>
    
</style>