$box_radius: 5px;

.is-link {
    cursor: pointer;

    &:hover {
        background-color: $white-ter;
    }
}

.box.has-table {
    padding: 0;

    & > .table {
        border-radius: $box_radius;
        margin: 0;
    }

    & > .pagination {
        padding: $global_padding;
        padding-bottom: $global_padding / 2;
    }
}

.no-hover:hover {
    background-color: inherit !important;
}