$maincontent_padding: $global_padding;
$maincontent_color_background: $white-ter;

.maincontent {
    height: 100%;
    padding: $maincontent_padding;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $maincontent_color_background;
}

.maincontent > .sections {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}