$sidebar_width: 350px;
$sidebar_color_background: $grey-darker;
$sidebar_color_text: $white-bis;
$sidebar_padding: $global_padding;
$sidebar_padding_button: 25px;

.sidebar {

    // Structure
    height: 100%;
    width: $sidebar_width;
    padding: $sidebar_padding;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    // Design
    background-color: $sidebar_color_background;
    color: $sidebar_color_text;

    // Mobile
    @include mobile {
        width: auto;
    }
}

.sidebar .label {
    color: $sidebar_color_text;
}

.sidebar .button-bottom {
    margin: - $sidebar_padding;
    margin-top: auto;

    padding: $sidebar_padding_button 0px;
    padding-bottom: $sidebar_padding_button + 10px;

    background-color: lighten($sidebar_color_background, 5%);
    border: none;
    border-top: 1px solid $grey;
    border-radius: 0;

    font-size: 20px;
    color: findColorInvert(lighten($sidebar_color_background, 10%));
    cursor: pointer;

    &:hover {
        background-color: lighten($sidebar_color_background, 10%);
    }
}