<template>
    <span>
        <a 
            v-if="isLink"
            v-html="content"
            @click="updateSearch"
            href="#" 
        ></a>
        
        <span
            v-else
            v-html="content"
        ></span>
    </span>
</template>

<script>
export default {
    props: ['cell'],

    computed: {
        isLink() {
            return typeof this.cell === 'object' && this.cell.content
        },

        content() {
            if (typeof this.cell === 'undefined') {
                return '-'
            }

            if (typeof this.cell === 'boolean') {
                let icon = this.cell ? 'check' : 'times'
                return `<div class="icon"><span class="fa fa-${icon}"></span></div>`
            }

            if (Array.isArray(this.cell)) {
                return this.cell.join(', ')
            }

            if (typeof this.cell === 'object' && this.cell.content) {
                return this.cell.content
            }

            return this.cell
        }
    },

    methods: {
        updateSearch() {
            this.$store.commit('updateQueryString', `+_id:${this.cell.id}`)
            this.$store.commit('updateType', this.cell.type)
            this.$store.dispatch('search')
        }
    }
}
</script>
