<template>
    <p 
        class="title" 
        :class="{ 'is-1': isBig }"
        v-if="title"
    >

        {{ title }}

        <span 
            class="tag is-primary" 
            v-if="tag" 
            v-text="tag"
        ></span>

    </p>
</template>

<script>
export default {
    props: {
        title: String,
        tag: String,
        isBig: {
            type: Boolean,
            default: false
        }
    }
}
</script>