<template>
    <nav 
        class="pagination is-centered" 
        v-if="allEntries.length >= perPage"
    >
        <a 
            class="pagination-previous"
            :class="{ 'is-disabled': currentPage == 1 }"
            @click="showPage(currentPage - 1)"
        >
            Previous
        </a>

        <a
            class="pagination-next" 
            :class="{ 'is-disabled': currentPage == totalPages }"
            @click="showPage(currentPage + 1)"
        >
            Next page
        </a>


        <ul class="pagination-list">
            <li v-if="showFirstPage">
                <a 
                    class="pagination-link" 
                    @click="showPage(1)"
                    v-text="1"
                ></a>
            </li>
            <li v-if="showFirstPage">
                <span class="pagination-ellipsis">&hellip;</span>
            </li>

            <li v-for="p in middlePages">
                <a  
                    class="pagination-link"
                    :class="{ 'is-current': p == currentPage }"
                    @click="showPage(p)"
                    v-text="p"
                ></a>
            </li>

            <li v-if="showLastPage">
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li v-if="showLastPage">
                <a 
                    class="pagination-link" 
                    @click="showPage(totalPages)"
                    v-text="totalPages"
                ></a>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    props: {
        perPage: Number,
        entries: Array|Object
    },

    data() {
        return {
            currentPage: 1,
            allEntries: [],
        }
    },

    mounted() {
        if (typeof this.entries === 'object') {
            this.allEntries = Object.keys(this.entries).map(key => this.entries[key])
        } else {
            this.allEntries = this.entries
        }
    },

    computed: {
        showedEntities() {
            let startIndex = (this.currentPage - 1) * this.perPage
            let endIndex = startIndex + this.perPage
            return this.allEntries.slice(startIndex, endIndex)
        },

        totalPages() {
            return Math.ceil(this.allEntries.length / this.perPage)
        },

        middlePages() {
            let p = this.currentPage
            let middlePages = []

            if (p == 1) {
                middlePages.push(p)
                if (this.totalPages > 1) middlePages.push(p+1)
                if (this.totalPages > 2) middlePages.push(p+2)
            } else if (p == this.totalPages) {
                if (this.totalPages > 2) middlePages.push(p-2)
                if (this.totalPages > 1) middlePages.push(p-1)
                middlePages.push(p)
            } else {
                middlePages = [p-1, p, p+1]
            }
            
            return middlePages
        },

        showFirstPage() {
            return this.currentPage > 2
        },

        showLastPage() {
            return this.currentPage < this.totalPages - 1
        }
    },

    watch: {
        showedEntities: function (newEntities) {
            this.$emit('update-pagination', newEntities)
        }
    },

    methods: {
        showPage(pageNumber) {
            if (pageNumber < 1 || pageNumber > this.totalPages) {
                return
            }
            this.currentPage = pageNumber
        }
    }
}
</script>
