<template>
    <div class="columns is-marginless">
        <div class="column is-6 has-border-right">
            <section>
                <h1 class="title">Train</h1>
                <div class="box">
                    <div class="control is-horizontal">
                        <div class="control is-grouped">
                            <p class="control is-expanded">
                                <input 
                                    v-model="train.query" 
                                    @keyup.enter="addTuple"
                                    @input="trainStatus = 'idle'"
                                    class="input" type="text" placeholder="Query"
                                >
                            </p>
                            <p class="control is-expanded">
                                <input 
                                    v-model="train.type" 
                                    @keyup.enter="addTuple"
                                    @input="trainStatus = 'idle'"
                                    class="input" type="text" placeholder="Type"
                                >
                            </p>
                            <p class="control">
                                <button
                                    class="button is-primary" 
                                    :class="trainButtonClasses" 
                                    @click="addTuple"
                                >
                                    <span class="icon">
                                        <i :class="trainButtonIcon"></i>
                                    </span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h1 class="title">Classify</h1>
                <div class="box content">
                    <div class="control is-horizontal">
                        <div class="control is-grouped">
                            <p class="control is-expanded">
                                <input 
                                    v-model="classify"
                                    @keyup.enter="classifyQuery"
                                    @input="classifyStatus = 'idle'"
                                    class="input" type="text" placeholder="Query to classify"
                                >
                            </p>
                            <p class="control">
                                <button 
                                    class="button is-primary" 
                                    :class="classifyButtonClasses" 
                                    @click="classifyQuery"
                                >
                                    <span class="icon">
                                        <i :class="classifyButtonIcon"></i>
                                    </span>
                                </button>
                            </p>
                        </div>
                    </div>
                    <nav class="panel" v-if="classificationResults">
                        <div class="panel-heading">
                            Results
                        </div>
                        <a 
                            class="panel-block" 
                            v-for="result in classificationResults"
                            @click="trainFromClassification(result.type)"
                        >
                            <span class="panel-icon">
                                {{ result.percent }}
                            </span>
                            <strong>{{ result.type }}</strong> 
                        </a>
                    </nav>
                </div>
            </section>
        </div>
        <div class="column is-6">
            <section>
                <h1 class="title">Traning Data</h1>
                <div class="box content has-table">
                    <table>
                        <thead>
                            <tr class="no-hover">
                                <th>Type</th>
                                <th>Query</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="(tuples, type) in orderedTrainingData">
                                <tr class="no-hover">
                                    <td :rowspan="tuples.length">{{ type }}</td>
                                    <td>{{ tuples[0].query }}</td>
                                    <td class="action">
                                        <span class="icon" @click="deleteTuple(tuples[0].query, type)">
                                            <i :class="{
                                                'fa fa-cog fa-spin': tuples[0].status === 'loading',
                                                'fa fa-trash': tuples[0].status !== 'loading'
                                            }"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr v-for="tuple in tuples.slice(1)" class="no-hover">
                                    <td>{{ tuple.query }}</td>
                                    <td class="action">
                                        <span class="icon" @click="deleteTuple(tuple.query, type)">
                                            <i :class="{
                                                'fa fa-cog fa-spin': tuple.status === 'loading',
                                                'fa fa-trash': tuple.status !== 'loading'
                                            }"></i>
                                        </span>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import api from '../api'
import { groupBy, orderBy, map, mapValues, findIndex, round } from 'lodash';

export default {
    data() {
        return {
            trainingData: [],
            train: {
                query: '',
                type: ''
            },
            classify: '',
            classificationResults: false,
            trainStatus: 'idle',
            classifyStatus: 'idle'
        }
    },

    mounted() {
        api.getTrainingData()
            .then(({data}) => {
                data = map(data, tuple => { tuple.status = ''; return tuple })
                this.trainingData = data
            })
    },

    computed: {
        orderedTrainingData() {
            const data = groupBy(this.trainingData, 'type')
            return mapValues(data, typeData => 
                map(typeData, ({query, status}) => { 
                    return { query, status }
                }).sort()
            )
        },
        trainButtonClasses() {
            return {
                'is-success': this.trainStatus === 'success',
                'is-loading': this.trainStatus === 'loading'
            }
        },
        classifyButtonClasses() {
            return {
                'is-success': this.classifyStatus === 'success',
                'is-loading': this.classifyStatus === 'loading'
            }
        },
        trainButtonIcon() {
            if (this.trainStatus === 'success') return 'fa fa-check'
            return 'fa fa-angle-double-right'
        },
        classifyButtonIcon() {
            if (this.classifyStatus === 'success') return 'fa fa-check'
            return 'fa fa-angle-double-right'
        }
    },

    methods: {
        addTuple() {
            if (! this.train.type || ! this.train.query) return
            if (findIndex(this.trainingData, this.train) >= 0) return

            this.trainStatus = 'loading'
            api .train(this.train.query, this.train.type)
                .then(() => {
                    this.trainingData.push({
                        type: this.train.type,
                        query: this.train.query,
                        status: ''
                    })
                    this.trainStatus = 'success'
                })
                .catch(() => this.trainStatus = 'error')
        },

        deleteTuple(query, type) {
            const index = findIndex(this.trainingData, { query, type })
            if (index < 0) return

            this.trainingData[index].status = 'loading'
            api .deleteTrainingTuple(query, type)
                .then(() => this.trainingData.splice(index, 1))
                .catch(() => this.trainingData[index].status = '')
        },

        classifyQuery() {
            if (! this.classify) return

            this.classifyStatus = 'loading'
            this.classificationResults = false

            api .classifyTrainingTuple(this.classify)
                .then(({data}) => {
                    data = orderBy(map(data, function(proba, type) {
                        return { type, proba, percent: (round(proba * 100, 2) + '%') }
                    }), 'proba', 'desc')
                    this.classificationResults = data
                    this.classifyStatus = 'success'
                })
                .catch(() => this.classifyStatus = 'error')
        },

        trainFromClassification(type) {
            this.train.query = this.classify
            this.train.type = type
            this.addTuple()
            this.classifyQuery()
        }
    }
}
</script>

<style>

    .columns {
        background-color: whitesmoke;
    }

    .column {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .has-border-right {
        border-right: 3px solid #ddd;
    }

    .action {
        text-align: right;
    }

    .action .icon {
        color: #888;
        cursor: pointer;
    }

    .action .icon:hover {
        color: #222;
    }

    .panel-icon {
        width: 50px;
    }

</style>