<template>
    <section class="has-text-centered">
        <span class="icon is-large">
            <i class="fa fa-exclamation-triangle"></i>
        </span>
        <br>
        <p>Oops, something went wrong!</p>
    </section>
</template>

<script>
export default {
    //
}
</script>
