<template>
    <section class="has-text-centered">
        <span class="icon is-large">
            <i class="fa fa-file-o"></i>
        </span>
        <br>
        <p>No results</p>
    </section>
</template>

<script>
export default {
    //
}
</script>
