<template>
    <section>
        <section-title :title="section.title"></section-title>

        <div 
            class="box" 
            v-html="section.data"
        ></div>
    </section>
</template>

<script>
import SectionTitle from './Support/SectionTitle'

export default {
    props: ['section'],
    
    components: { SectionTitle }
}
</script>
