<template>
    <section class="has-text-centered">
        <span class="icon is-large">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </span>
        <br>
        <p>Searching...</p>
    </section>
</template>

<script>
export default {
    //
}
</script>
