<template>
    <section>

        <section-title :title="section.title"></section-title>
        
        <div class="box">
            <div class="columns">
                <div 
                    class="column is-link has-text-centered" 
                    v-for="suggestion in section.data"
                    @click="updateSearch(suggestion)"
                >
                    <h1 class="is-title">{{ suggestion.title }}</h1>
                    <span class="tag is-dark">{{ suggestion.type }}</span>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import SectionTitle from './Support/SectionTitle'

export default {
    props: ['section'],

    components: { SectionTitle },

    methods: {
        updateSearch(suggestion) {
            this.$store.dispatch('train', suggestion.type)

            if ('id' in suggestion) {
                this.$store.commit('updateQueryString', `+_id:${suggestion.id}`)
            }
            this.$store.commit('updateType', suggestion.type)
            this.$store.dispatch('search')
        }
    }
}
</script>
