<template>
    <section>

        <section-title :title="section.title"></section-title>

        <div class="box has-table">
            <table class="table is-striped">
                <thead>
                    <tr class="no-hover">
                        <th v-for="header in section.data.headers">
                            {{ header }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in rows">
                        <td v-for="(header, field) in section.data.headers">
                            <cell :cell="row[field]"></cell>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <pagination 
                :perPage="10"
                :entries="this.section.data.rows"
                @update-pagination="updateRows"
            ></pagination>
        </div>

    </section>
</template>

<script>
import Pagination from '../Pagination'
import Cell from './Support/Cell'
import SectionTitle from './Support/SectionTitle'

export default {
    props: ['section'],

    components: { Pagination, Cell, SectionTitle },

    data() {
        return {
            rows: []
        }
    },

    methods: {
        updateRows(entries) {
            this.rows = entries
        }
    }
}
</script>
