<template>
    <section>
        <section-title :title="section.title"></section-title>

        <div 
            class="box" 
            style="cursor:pointer;"
            v-for="(batch, index) in section.data"
            @click="updateOpennedBatch(index)"
        >
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ start(batch) }}</strong> 
                            <small>
                                duration: {{ duration(batch) }} 
                                | 
                                {{ fromNow(batch) }}
                            </small>
                            <br>
                            {{ batch.connections }} connections {{ getDescription(batch) }}
                            <table v-if="opennedBatch === index">
                                <tbody>
                                    <tr v-for="(IpData, IpAddress) in batch.otherIps">
                                        <td>{{ IpAddress }}</td>
                                        <td>{{ IpData.connections }} connections ({{ percentInitiated(IpData) }}% initiated)</td>
                                        <td>{{ getServices(IpData) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <article 
                                class="message" 
                                v-for='alert in batch.alerts'
                                v-if="opennedBatch === index"
                            >
                                <div class="message-header">
                                    <p>{{ alert.note }}</p>
                                </div>
                                <div class="message-body">
                                    {{ alert.message }}
                                    <small>{{ alert.subMessage }}</small>
                                </div>
                            </article>
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </section>
</template>

<script>
import SectionTitle from './Support/SectionTitle'
import moment from 'moment'
import { flatMap, uniq } from 'lodash'

export default {
    props: ['section'],
    
    components: { SectionTitle },

    data() {
        return {
            opennedBatch: null
        }
    },

    methods: {
        start(batch) {
            return moment.unix(batch.start).format('MMM Do, YYYY HH:mm:ss')
        },
        duration(batch) {
            let duration = moment.unix(batch.duration)
            let text = duration.format('s[s] SSS[ms]')
            if (duration.minutes() > 0) text = duration.format('m[m] ') + text
            return text
        },
        fromNow(batch) {
            return moment.unix(batch.start).fromNow()
        },
        percentInitiated(IpData) {
            return Math.round(IpData.initiating / IpData.connections * 100)
        },
        getServices(IpData) {
            return IpData.services.length == 0 ? '-' : IpData.services.join(', ')
        },
        getDescription(batch) {
            let phrases = []
            let allServices = uniq(flatMap(batch.otherIps, function(item) {
                return item.services
            }))
            if (batch.alerts.length > 0) {
                phrases.push(batch.alerts.length + ' alerts')
            }
            if (allServices.length > 0) {
                phrases.push('the following services: ' + allServices.join(', '));
            }
            if (phrases.length == 0) {
                return ''
            }
            return 'including ' + phrases.join(' and ')
        },
        updateOpennedBatch(index) {
            if (this.opennedBatch === index) {
                this.opennedBatch = null
            } else {
                this.opennedBatch = index
            }
        }
    }
}
</script>
