<template>
    <section>
        <section-title
            :title="section.data.title"
            :tag="section.data.tag"
            :is-big="true"
        ></section-title>

        <div
            class="box"
            v-if="section.data.description"
            v-html="section.data.description"
        ></div>
    </section>
</template>

<script>
import SectionTitle from './Support/SectionTitle'

export default {
    props: ['section'],
    
    components: { SectionTitle }
}
</script>
